! xmenu.font: Cantarell:size=11
xmenu.font: Hack:size=11
xmenu.background: #36383e
xmenu.foreground: #d2d3d3
xmenu.selbackground: #4285f4
xmenu.selforeground: #ffffff
xmenu.border: #26282c
xmenu.separator: #26282c
